<div class="container">
    <div>
        <h1>
            <span>                
                ThanhGular
            </span>
        </h1>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" routerLink="/md5">MD5</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
    </ul>
    <router-outlet></router-outlet>
</div>
<footer class="bd-footer text-muted">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>