<h1>MD5 Tool</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">Original</span>
                <input [(ngModel)]="input" type="text" class="form-control" aria-describedby="basic-addon1" placeholder="input here...">
            </div>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary" (click)="hash()">Compute</button>
        </div>
    </div>
    <div class="col-centered">
        <blockquote class="blockquote">
            {{result}}
        </blockquote>
        <span></span>
    </div>
</div>