<h2 class="mb-2">MD5 Tool</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-6 offset-xs-1">
            <div class="input-group">
                <span class="input-group-addon">Original</span>
                <input [(ngModel)]="input" type="text" class="form-control" aria-describedby="basic-addon1" placeholder="input here...">
            </div>
        </div>
        <div class="col-xs-2">
            <button type="button" class="btn btn-primary" (click)="hash()">Compute</button>
        </div>
    </div>
    <div class="row pt-2">
        <blockquote class="blockquote blockquote-reverse col-xs-7">{{result}}</blockquote>
        <div class="col-xs-2">
            <button type="button" class="btn btn-success" (click)="hash()">Copy</button>
        </div>
    </div>
</div>